.root {
  background: #292222;
  border-radius: 44px;
  color: #fff;
  padding: 50px 0 80px 0;
  margin-bottom: 60px;
  &>h2{
    color: #fff;
  }
}
.consultation {
  margin-bottom: 0;
  margin-top: 50px;
}
.btn {
  max-width: 185px;
  width: 100%;
}

@media (max-width: 1550px) {
  .root {
    padding: 46px 0 49px 0;
    margin-bottom: 60px;
    &>h2{
      color: #fff !important;
    }
  }
  .consultation {
    margin-top: 45px;
  }
}

@media (max-width: 950px) {
  .root {
    padding: 46px 0 41px 0;
    margin-bottom: 65px;
    &>h2{
      color: #fff !important;
    }
  }
  .consultation {
    max-width: 619px;
  }
}

@media (max-width: 700px) {
  .root {
    padding: 24px 18px;
    margin-bottom: 50px;
    border-radius: 25px;
    &>h2{
      display: none;
    }
  }
  .consultation {
    max-width: 619px;
    margin-top: 15px;
    &>div{
      &:first-child{
        display: none;
      }
    }
  }
}
