.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #595959;
  transition: background-color .1s;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  max-width: 1104px;
  width: 100%;
  height: 568px;
  transform: scale(1);
  transition: transform linear 250ms;
  border-radius: 34px;
  position: relative;
  &>svg {
    &:first-child{
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }
}

.rootHide {
  background: transparent;
  z-index: -1;
  transition: none;
  .container {
    transform: scale(0);
    transition: none;
  }
}

