.root {
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  max-width: 845px;
  width: 100%;
  font-size: 18px;
  &>div{
    &:last-child{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.number {
  font-size: 33px;
}

@media (max-width: 1550px) {
  .root {
    margin: 65px auto;
  }
  .number {
    font-size: 30px;
  }
}

@media (max-width: 950px) {
  .root {
    max-width: 665px;

  }
  .number {
    font-size: 30px;
  }
  .title {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .root {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    &>div{
      &:last-child{
        order: -1;
        margin-bottom: 20px;
        .title{
          margin-bottom: 20px;
        }
      }
    }
  }
  .number {
    font-size: 26px;
  }
  .title {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
