@import "../../../styles/mixin";

.root {
  overflow: hidden;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  & > span {
    z-index: 1;
    transition: top linear 100ms;
  }

  input {
    z-index: 2;
    position: relative;
  }
}
