.root {
  height: 45px;
  position: relative;
  color: #000;
  border-radius: 22px;
  z-index: 0;
  background: #fff;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  &:hover {
    .container {
     border-color: #AFAFAF
    }
  }
}

.rootActive {
  z-index: 3;
  border-radius: 22px 22px 0 0;

  .container {
    border-bottom: none;
    border-color: #AFAFAF;
  }

  .items {
    border-top: none;
  }
}

.box {
  height: inherit;
  border-radius: inherit;
}

.container {
  height: inherit;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 2px solid #E7E7E7;
  border-radius: inherit;
}

.selectedItem {
  height: 100%;
  width: 100%;
  padding: 0px 26px 0 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.arrow {
  height: 100%;
  display: inline-block;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  padding-right: 12px;
  line-height: 45px;
  margin-left: 18px;

  svg {
    display: inline-block;
    padding-top: 0 !important;
    margin-right: 0 !important;
    transition: transform .3s;

    &::before {
      color: #fff;
    }
  }

  .iconTop {
    transform: rotateX(180deg);
  }
}

.items {
  border: 2px solid #AFAFAF;
  border-radius: 0 0 22px 22px;
  overflow: hidden;

  & > div {
    height: 33px;
    padding: 0px 18px;
    display: flex;
    align-items: center;
    background: #fff;

    &:last-child {
      border: none;
    }

    &:hover {
      background: #E7E7E7;
    }
  }

  .selected {
    background: #E7E7E7;
  }
}
