@import "../../../styles/mixin";
@import "../../../styles/var";

.root {
  position: relative;
  display: block;
  width: 100%;
  max-width: 419px;
  border-radius: 30px;

  & > span {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    color: #979797;
    z-index: -1;
    font-size: 14px;
    line-height: 17px;
  }

  input {
    @include input;
    height: 60px;
    border-radius: 30px;
    padding: 28px 28px 12px 28px;
    background: transparent;

    &:focus + span {
      top: 16px !important;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear .2s;
  }
}

.errorHide {
  font-size: 14px;
  line-height: 17px;
  color: $red-color;
  position: absolute;
  bottom: -16px;
  transform: translateY(50%);
  left: 28px;
  opacity: 0;
  z-index: -1;
  transition: opacity linear .2s;
}

.root.rootError {
  margin-bottom: 23px;
  &>input {
    border-color: $red-color;
  }
  .errorHide {
    opacity: 1;
    z-index: 0;
  }
}
